/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }


.avid5 {
  position: relative;
  margin-bottom: 100px;
}

.avid5 canvas {
 cursor: pointer;
}

.avid5 video {
  position: absolute;
  top: 0px;
  left: 100%;
  z-index: -1;
}

.avid5 .buffer-canvas {
 position: absolute;
 top: 0px;
 left: 100%;
 z-index: -1;
}