/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }


.avid5 {
  position: relative;
}

.avid5 .action-link {
  
  /** inline block for all browsers **/
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  
  position: absolute;
  z-index: 5;
  left: 100%;
  top: 0px;
  
}

.avid5 canvas {
 cursor: pointer;
}